
/* selector{
كيرلي سبيسس
property:value;
} */
/* class */
.my-p {
    color: red;
    font-size: 40px;
  }
  /* id */
#my-p {
    color: red;
    font-size: 40px;
  }
p{
    color:black;
    /* line by line  */
}
/* التسمة مهمة جدا */
/* background */
.background{
  background-color: blue/* Color Name */;
  background-color: rgb(0 0 0 / 50%); /* Red, Green, Blue, Alpha Channel */
  background-color: #FF0000; /* Color Hex Code */
  background-image: url("../img/article-img.png");/* مكتن الصورة */
  background-repeat: no-repeat;/* لتكرار الصورة */
  /* repeat-x repeat-y */
  background-position: top right;/* لتحؤيك الخلفية */
  /* background-position-x: 20%;
  background-position-y: 20%; */
  background-attachment: fixed;/* بتثبت الخلفية  */
  /* background-size: auto; */
  background-size: contain;/* بتملا الصورة بتخليها كلها بينة  */
  background-size: cover;/* بتملا الصورة ممكن بصير قطع فيها  */
  background-size: 200px 300px;/* width highth */
  /* background-clip: https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_background-clip; */
  /* الها علاقة بتلوين الخلفية او شو يتلون بالضبط */
}
/* padding */
.padding{
  background-color: #ddd;
  /* Top Right Bottom Left */
  /* 10px 10px 10px 10px */
  /* padding: 10px; */

  /* Top Right Bottom Left */
  /* 10px 20px 10px 20px */
  /* padding: 10px 20px; */

  /* Top Right Bottom Left */
  /* 10px 20px 15px 20px */
  /* padding: 10px 20px 15px; */

  padding-bottom: 10px;
  padding-top: 10px;
  /* الهامش الداخلي Padding : هو المساحة بين محتوى العنصر وحدوده. */
  /* الهامش الخارجي Margin : المساحة بين العنصر والعناصر المحيطة به. */
}
/* margin */
.margin{
  background-color: #ddd;
  /* margin: 10px; */
  padding: 10px;
  width: 70%;
  margin: auto;
}

.border{
  /* الحدود Border : المساحة بين الهامش الداخلي padding والخارجي margin للعنصر. */
  background-color: #ddd;
  /* border-width: 10px;
  border-color: red;
  border-style: solid; */
  border: 10px solid red;
}

.outline{
  background-color: #DDD;
  width: 300px;
  padding: 10px;
  outline: 10px solid red;
  border: 10px solid blue;
}

/*

  Block

  - Take Full Width If No Width
  - Add Line Break
  - Respect Padding, Margin, Width, Height

  Inline

  - Do Not Repsepct Width, Height
  - Respect Padding And Margin [ Just right + Left ]
  - Do Not Add Line Break
  - Allow Elements Before And After It in The Same Line

  Inline-Block

  - Allow Elements Before And After It in The Same Line
  - Respect Padding, Margin, Width, Height

*/

/* الاخفاااااء */
.first ,.secund{
  background-color: red;
  margin: 10px 0;
}
.first{
  /* display: none; */
  /* بتلغي العنصر وبتلغي مكانو بتستعمل في اظهار البينات  */
  visibility: hidden;
  /* بتخفي العنصر لكن مكان العنصر بضل محجوز بتستعمل لمن بدك تحمل انيميشن  */
}
/* width highth */
.wid-hig{
  background-color: #FF0000;
  padding: 10px;
  display: inline-block;
  width: 400px;
  /* اعطي العناصر كلها عرض 400 */
  min-width: 400px;
  /* من 400 الى ما نهاية */
  max-width: 400px;
  /* اكبر عرض يوصلو 400 */
  height: 400px;
  /* اعطي العناصر كلها طول 400 */
  min-height: 400px;
  /* من 400 الى ما نهاية */
  max-height: 400px;
  /* اكبر طول يوصلو 400 */

  width: fit-content;
  /* بتعمل عرض حسب المحتوى فانت ما بتحتاج تعمل in lin block */
}
/* overflow */
.overflow{
  width: 150px;
  height: 150px;
  background-color: #EEE;
  margin: 20px auto;
  border-radius: 6px;
  overflow: auto;
  /* overflow-x: auto;
  overflow-y: auto; */
}
/* text */
.text1 {
  background-color: #f9f9f9;
  color: rebeccapurple;
  text-shadow: 0 0 0 red;
  /* x/y/الوضوح/اللون*/
}
.text2{
  background-color: #f9f9f9;
  text-align: center;
  direction: ltr;
  /* عربي او انجليزي */
}
.text2 img {
  vertical-align: middle;
 /* توسيط المحاذاة  */
}
.text3{
  background-color: #f9f9f9;
  text-decoration: line-through;
  /* بتعمل خط بالكلام  */
  text-transform: capitalize;
  /* مااان بتحول بين الحروف الاولى  */
}
.text4{
  background-color: #DDD;
  letter-spacing: 2px;
  /* المسافة بين الحروف */
  word-spacing: 5px;
  text-indent: 100px;
  /* بتحرك لكلام اول السطر */
  line-height: 1.6;
  /* ارتفتع الاسطر عنة لعضها */
}
.text42{
  background-color: #DDD;
  width: 300px;
  white-space: nowrap;
  /* بيخلي الكلام كلها على سطر واحدؤ */
}
.text43{
  background-color: #DDD;
  width: 300px;
  word-break: break-all;
  /* بيتخلي الكلمة الوحدة تنقسم وما تطلع  */
}
.text5{
  background-color: #DDD;
  padding: 10px;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* ببين الك اذا كان النص مقطوع ولا لا  */
}
.text5:hover{
  overflow: visible;
}
/* Inheritance */
.Inheritance{
  text-align: center;
  padding: 20px;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #EEE;
  border: 2px solid blue;
}
.Inheritance p{
  border: 2px solid ;
  border-color: inherit;
  padding: inherit;
  /* inherit اورث الصفة من الاب */
}
/* font */
.font{
  background-color: #EEE;
  padding: 10px;
  font-family: 'Cairo', sans-serif;
}
.font2{
  font-size: 20px;
}
/* css unit
px
1em=حجم الخط بيورث من الاب قد 1
1rem=حجم الخط خوذو من الاب الاكبر html يعني 16 px
vh=من اي الشاشة 
 */
 /* defult font-size =16px */
 .font3{
  font-style: italic;
  font-weight: bold;
 }
 /* Cursor */
.cursor{
   cursor: pointer;
   /* لتحسيبن واجهة الستخدم  */
}
/* flot clear */
.parent{
  background-color: #FF0000;
  padding: 10px;
}
.parent div{
  padding: 10px 0;
  background-color: #DDD;
  text-align: center;
  width: 25%;
  float: left;
}
.clear{
  clear: both;
}
/*Calculation*/
body{
  margin: 0;
  height: 8000px;
}
.calculation{
  padding: 10px 0;
  background-color: #DDD;
  text-align: center;
  width: calc((100% - 40px) / 4);
  float: left;
  margin-left:10px ;
}
/*
  Content Width Is: 100%
  6 Spaces  10px * 6 => 60px From Content Width
  100% - 60px Available Space
  5 Elements The Width Is: (100% - 60px) / 5
*/

/* opasity */
.oneo {
  background-color: red;
  opacity: 0.1;
}
.twoo {
  background-color: rgb(255 0 0 / 0.1)
}

/* position */
.onep,
.towp{
  color: white;
  width:100px;
  padding: 10px;
}
.onep{
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: #FF0000;
}
.towp{
  position: sticky;
  top:0;
  background-color: blue;
}
/* position: static; هاي قسمة افتراضية بضل العنصر ثابت  */
/* position: relative; هاي بتحرك العنصر بالنسبة لنفسه 
وكمانم لازم تنحط اذا بدك اتحرك عنصر جواى عنصر معين  */
/* position: absolute;هاي بتخلس العنصر غير محسوب مساحتو وبتقدر 
اتحركو وين ما بدك جوه عنصر معاهى rel */
/* left right top bottom */

/*z-idix */
/* كل ما زودت الرقم بيعلا العنصر بالمجموعة نظام طبقات  */
.z-indx1,
.z-indx2,
.z-indx3{
  padding: 10px;
  width: 100px;
  color: #FFffff;
  text-align: center;
  position: absolute;
}
/* مابستغل من غير بوسبشن */
.rel{
  width: 200px;
  height: 200px;
  position: relative;
}
.z-indx1{
  background-color: #FF0000;
  left: 20px;
  top: 20px;
  z-index: 3;
}
.z-indx2{
  background-color: #22ff00;
  left: 15px;
  top: 15px;
}
.z-indx3{
  background-color: #2600ff;
}
/* ul */
.ul{
  list-style-type: none;
  /* شكل الييقون */
  list-style-position: outside;
  /* الايقون بتكون جوه ولا بره  */
  /* list-style-image: url(""); */
}
table {
  width: 100%;
  border: 1px solid #CCC;
  border-spacing: 0px;
}
table td{
  padding: 15px;
  background-color: #EEE;
  border: 1px solid #CCC;
}
table thead td {
  background-color: #f44336;
  color: #FFF;
  font-weight: bold;
  text-align: center;
  border-color: #F35246;
}
/* Pseudo class بشكل عام */
.noe{
  background-color: red;
  color: white;
}
.twwo{
  background-color:#eee;
  width: 100px;
  height: 100px;
}
.a{
  color: green;
  text-decoration: none;
}
.a:hover{
   color: #FF0000;
}
.ch:checked + label{
   color: red;
}
.a:visited{
  color: #2600ff;
}
.twwo:empty{
  border: 2px red solid;
}
/* اي عصر ما الو ابو  */
.in{
  border: 2px  black solid;
}
.in:focus{
  border-color: #ff0000;
}

/* Pseudo Elements */
.onee span {
  display: inline-block;
  background-color: red;
  color: white;
  font-size: 60px;
  font-weight: bold;
}
.twoe::first-letter {
  display: inline-block;
  background-color: red;
  color: white;
  font-size: 60px;
  font-weight: bold;
}
.threee::first-line {
  font-weight: bold;
  color: green;
}
/* هاي لمن اتعلم على كلام  */
::selection {
  background-color: black;
  color: yellow;
}
/* Pseudo Elements be af */
.parent36 {
  margin-bottom: 20px;
  overflow: hidden;
  counter-increment: num;
}
.one36 {
  background-color: #eee;
  padding: 10px;
  width: 600px;
  float: left;
  position: relative;
}
.user36 {
  background-color: #eee;
  width: 50px;
  margin-right: 20px;
  padding: 10px;
  height: 55.5px;
  float: left;
  font-size: 50px;
  text-align: center;
}
/* .one36 span{
  width: 5px;
  height: 100%;
  background-color: #008aff;
  position: absolute;
  right: -10px;
  top: 0;
} */
/* عمود */
/* .one36::after{
  content: "";
  display: block;
  width: 5px;
  height: 100%;
  background-color: #008aff;
  position: absolute;
  right: -10px;
  top: 0;
} */
/* للسهم */
/* .one36::before{
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: -25px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent red transparent transparent;
} */
/* عداد */
.one36::after{
  content: counter(num);
  background-color: #2600ff;
  width: 10px;
  height: 10px;
}
.one36::before{
  content: attr(data-name);
}


/*

  Vendors Prefixes

  Chrome
  Safari
  Firefox
  IE, Edge
  Opera

  [1] New CSS Feature Appeared
  [2] Browsers Tests The Feature In Version X
  [3] Browsers Add Prefix To Give Developers The Ability To Use It
  [4] The Feature Is Fully Supported In Version Y, No Need For Prefix

  -webkit- => Chrome, Safari, New Opera Version
  -moz- => Firefox
  -ms- => Ie, Edge
  -o- => Old Version of Opera

*/

.prefix {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

/* brder-radius */
.brder-radius{
  width: 100px;
  height: 100px;
  background-color: #22ff00;
  margin: 20px auto;
  border-radius: 50%;
  /* ممكن نتكتب قيمتين كمان  */
  /* 
    border-top-left-radius: 50% 40%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%; */
}

/* box shadow */
/* x/y/blur/spred/insert,outsert */
.box-shadow{
  padding: 20px;
  margin: 20px auto;
  background-color: #CCC;
  width: 300px;
  box-shadow:
  0 0 10px 0 #F10000,
  0 0 10px 0 #000,
  0 0 10px 0 #080,
  0 0 10px 0 #00f,
  0 0 10px 0 yellow;
  /* ممكن انحط اكثر من بوكس شادو */
}


/* Box Sizing */
/* *{
  box-sizing: border-box;
} */
/* 
box-sizing: content-box;
بتخلي العناصر لمن تاخذ بادنق او مارجن اتزودهم على مساحة الاصلية 
box-sizing: border-box;
مهما زودت بوردر او بادنق او مارجن بضل مساحتو ثابتة 
*/

/* Transition */
.Transition{
  background-color: #CCC;
  width: 200px;
  height: 100px;
  /*مدةالانتقال*/
  transition-duration: 2s;
  /*مدةالتاخير*/
  transition-delay: 0.2s;
  /*الخواصاليبدكتعملعليهاالانتقال*/
  transition-property: all;
  /*طريقةالانتقال*/
  transition-timing-function: ease;
  /*short*/
  transition: width 2s,height 3s ;
  /* transition: all 2s 0.5s linear; */
}
.Transition:hover{
  height: 200px;
  width: 100px;
}

/*  !Important */
/* 
هاي لو حطيتها لاي خاصية بتتنفذ خصبن عنها حتى لو عدلتها قبل او بعد 
*/


/* The Margin Collapse */
/*
  [1] Only Vertical Margin Collapse
  [2] Bigger Margin Wins
  [3] Margin Collapsing With Elements Without Anything Between
  [4] Nesting Does Not Prevent Collapse
*/
.parentCollapse {
  overflow: hidden;
  margin: auto;
  width: 400px;
  height: 200px;
  padding: 10px;
  background-color: #eee;
}
.parentCollapse .oneCollapse,
.parentCollapse .twoCollapse {
  float: left;
  width: 50%;
  height: 100%;
}
.oneCollapse {
  background-color: #ddd;
}
.twoCollapse {
  background-color: #aaa;
}
.upCollapse {
  background-color: red;
  color: white;
  height: 80px;
  margin-bottom: 40px;
}
.downCollapse {
  background-color: green;
  color: white;
  height: 80px;
  margin-top: 40px;
}



/* CSS Variables */
/*
  CSS Variables
  - Global Variable
  - Local Variable
  var(Variable Name, Fall Back Value)
*/

:root {
  --mainColor: blue;
  --mainPadding: 10px;
}
.variables{
  background-color: var(--mainColor, black);
  color: white;
  padding: calc(20px + var(--mainPadding));
}
.variables1{
  color: var(--mainColor);
  background-color: #eee;
  padding: var(--mainPadding);
}
.variables2 {
  color: var(--mainColor);
  border: 2px solid var(--mainColor);
  padding: var(--mainPadding);
}
.variables3:hover {
  color: var(--mainColor);
}
.local {
  --mainColor: black;
  background-color: var(--mainColor);
  color: white;
}

/* flexbox */
/* 
For Parent
  - display: flex => To Start Flexible Box
  - flex-direction: row => Default Value طريقة تصفيت العناصر
  - flex-wrap: nowrap => Default Value بتخلي الزيادة تنزل تحت او لا
  - flex-flow: [Flex-Direction] + [Flex-Wrap] اختصار 

  - justify-content: flex-start => Default Value طريقة تصفيت العناصر افقي
  - align-items: stretch => Default Value طريقة تصفيت العناصر طوليا
  - align-content: stretch => Default Value طريقة تصفيت المحتوى كلووو طوليا
*/
*{
  box-sizing: border-box;
}
.flex{
  background-color: rgb(186 177 177);
  display: flex;
  /* flex-direction: row;
  flex-wrap: nowrap; */
  /* flex-flow: row wrap; */
  /* justify-content: space-evenly; */
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.flex div{
  background-color: #F10000;
  width: calc(90%/3);
  text-align: center;
  padding: 20px;
}

.center {
  background-color: blue;
  color: white;
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
For Child
- flex-grow: 0 => Default Value للمساحات الفارغة 
- flex-shrink: 1 => Default Value بنحدد اولوية للعنصر الي راح ينكمش
- order: 0 => Default Value ترتيب العناصر  لازم كل عنصر تعطيه ترتيب
- flex-basis: auto => Default Value
لو كنا عاملين عرض للعنصر في حال قلت المساحة راح يقلل العرض بطريقة ذكية 
عشان هيك بنستعمل هاي
حسب الديؤكشن ممكن يكون طول او عرض
- flex: [Flex Grow] [Flex Shrink] [Flex Basis] 0 1 Auto
- align-self: auto => Default Value
 */
 .flex2 {
  background-color: #eee;
  width: 800px;
  padding: 20px;
  margin: 20px auto;
  display: flex;
}
.flex2 div {
  background-color: #f00;
  color: white;
  width: 80px;
  text-align: center;
  padding: 20px;
  margin-right: 5px;
  flex-grow: 1;
}

/* filter */
/* grayscale ابيض واسود */
/* blur */
/* invert */
.filter{
  transition: all 0.3s;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.filter:hover{
  filter: blur(0);
  -webkit-filter: blur(0);
}


/*
  Gradients
  linear-gradient(Direction || Angle, Color Stop 1, Color Stop 2, ....)
*/

.Gradients{
  width: 400px;
  height: 200px;
  background-color: #eee;
  margin: 20px auto;
  position: relative;
  padding: 10px;
}
.Gradients:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  background-color: red;
  height: 10px;
  background-image: linear-gradient(
    to right,
    #2980b9 20%,
    #27ae60 20%,
    #27ae60 40%,
    #d35400 40%,
    #d35400 60%,
    #8e44ad 60%,
    #8e44ad 80%,
    #c0392b 80%
  );
}

input {
  caret-color: red;
  /* بتخلي  حتى تبعتةة الماوس لونها هيك  */
}
.a {
  pointer-events: none;
  /* تلغي الحدث عن عنصر */
}

/*
  Grid
  Parent
  - display: grid | inline-grid
  - grid-template-columns: [Number Of Columns In] => [Px, %, Auto قد بعض, Repeat (عدد الاعمدة و القيمة)]
  - grid-template-rows: [Number Of Rows In] => [Px, %, Auto, Fraction, Repeat, Mix]
  - gap: [Row Gap] [Column Gap]
  -justyfi-content
    justify-content: space-around;
  align-content: flex-start;     نفس الفلكس بس لمن يكون في مساحة فاضية 
    - grid-template-areas

      Child
  - grid-column: [Grid-Column-Start] [Grid-Column-End]
  - grid-row: [Grid-Row-Start] [Grid-Row-End]
    - grid-area: [Grid-Row-Start] [Grid-Column-Start] [Grid-Row-End] [Grid-Column-End]
*/
.grid {
  margin: 20px auto;
  width: 800px;
  height: 500px;
  background-color: #ddd;
  display: grid;
  /* grid-template-columns:100px 100px ; */
  /* عمودين */
  /* grid-template-columns: 25% 50% 25%; */
  /* grid-template-columns:  ; */
  /* 
  1fr من المساحات المتبقية وهو طماع 
  */
  grid-template-columns: repeat(4 , auto);
  grid-template-rows: repeat(3, auto);
  /* خلي الصف الاول طوله 100 والباقي اوتو */
  /* grid-template-rows: 100px 200px 100px; */
  gap: 10px 10px;
  justify-content: space-between;
  align-content: space-between;
}
.grid div {
  background-color: red;
  color: white;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.page ul {
  list-style: none;
}
.page ul li {
  display: inline-block;
}
.page {
  height: 100vh;
  background-color: #eee;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 50px auto 50px;
  grid-template-areas:
    "logo logo nav nav nav nav nav nav nav nav"
    "cont cont cont cont cont cont cont . side side"
    "foot foot foot foot foot foot foot foot foot foot";
}
.page h2 {
  grid-area: logo;
  background-color: red;
  color: white;
}
.page nav {
  grid-area: nav;
  background-color: blue;
  color: white;
}
.page section {
  grid-area: cont;
  background-color: yellow;
  color: white;
}
.page aside {
  grid-area: side;
  background-color: green;
  color: white;
}
.page footer {
  grid-area: foot;
  background-color: black;
  color: white;
}


.grid2 {
  margin: 20px auto;
  width: 800px;
  height: 500px;
  background-color: #ddd;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 10px 10px;
}
.grid2 div {
  /* اطلع بال html */
  background-color: red;
  color: white;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.grid3 {
  margin: 20px auto;
  width: 800px;
  height: 500px;
  background-color: #ddd;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 10px 10px;
}
.grid3 div {
  background-color: red;
  color: white;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.grid4{
  margin: 20px auto;
  height: 500px;
  background-color: #ddd;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.grid4 div {
  background-color: red;
  color: white;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}


/*Transform  */

.Transform{
  margin: 200px auto;
  width: 200px;
  height: 200px;
  background-color: rgb(255 0 0 / 39%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  transform: scaleX(2);
  /* تمديد مغط */
  /* transform: scaleY(2);
  transform: scale(2, 2); */
}

.Transform2{
  margin: 200px auto;
  width: 200px;
  height: 200px;
  background-color: rgb(255 0 0 / 39%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  transform: rotate(1turn);
  transform: rotate(0.5turn);
  transform: rotate(0.25turn);
  /* للتدوير */
}

.Transform3{
  margin: 200px auto;
  width: 200px;
  height: 200px;
  background-color: rgb(255 0 0 / 39%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  transform: translate(-100px, -100px);
  /* للانميشن */
}

.Transform4{
  margin: 200px auto;
  width: 200px;
  height: 200px;
  background-color: rgb(255 0 0 / 39%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  transform: skewX(10deg);
  transform: skewX(-10deg);
  transform: skewY(10deg);
  transform: skewY(-10deg);
  transform: skew(10deg, 10deg);
}
.hf{
  position: relative;
  color: white;
  margin: 20px auto;
  width: fit-content;
  padding: 20px;
}
.hf::before {
  content: "";
  background-color: red;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: skewX(20deg);
  /* الانحراف */
}
.Transform5{
  margin: 200px auto;
  width: 200px;
  height: 200px;
  background-color: rgb(255 0 0 / 39%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  transform: matrix(1.2, 0.2679, 0, 1.2, 20, 20);
  /* تجمع كل الخصاصئص */
  transform: translateX(20px) translateY(20px) scaleX(1.2) skewY(15deg) skewX(0deg) scaleY(1.2);
}
/*
  transform-origin
  Syntax
  Default Values => 50% 50% 0
  2D Transform => transform-origin(X, Y)
  3D Transform => transform-origin(X, Y, Z)
  X-Axis
  - CSS Unit [px, em, rem]
  - %
  - Keyword
  -- Left = 0%
  -- Center = 50%
  -- Right = 100%
  Y-Axis
  - CSS Unit [px, em, rem]
  - %
  - Keyword
  -- Top = 0%
  -- Center = 50%
  -- Bottom = 100%
*/

.Transform6{
  margin: 200px auto;
  width: 200px;
  height: 200px;
  background-color: rgb(255 0 0 / 39%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  transform-origin: 0 50%;
  /* نقطة الاصل */
  transform: rotate(100deg);
}

/* 3dTransform */
.Transform7{
  margin: 200px auto;
  width: 200px;
  height: 200px;
  background-color: rgb(255 0 0 / 39%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  transform: rotateX(50deg);
  transform: rotateY(50deg);
  transform: rotateZ(50deg);
  transform: rotate3d(0, 1, 1, 65deg);
}

.shape {
  perspective: 300px;
  perspective-origin: center center;
}
.shape div {
  margin: 200px auto;
  width: 200px;
  height: 200px;
  background-color: rgb(255 0 0 / 39%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  transform: translate(100px, -100px);
  transform: translateX(100px);
  transform: translateZ(100px);
  transform: translate3d(0, 0, 100px);
}


.containert {
  margin: 40px auto;
  width: 200px;
  perspective: 600px;
}
.box {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transition: transform 1s;
  transform-origin: right center;
}
.box:hover {
  transform: translateX(-100%) rotateY(-180deg);
}
.box .face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  color: white;
  backface-visibility: hidden;
}
.box .front {
  background-color: red;
}
.box .back {
  background-color: green;
  transform: rotateY(180deg);
}

.Animation {
  width: 100px;
  height: 100px;
  background-color: red;
  color: white;
  animation-name: change-color;
  animation-duration: 2s;
}
/* Code One */
/* @keyframes change-color {
  from {
    background-color: red;
  }
  to {
    background-color: blue;
  }
} */
/* Code Two */
/* @keyframes change-color {
  0% {
    background-color: red;
  }
  100% {
    background-color: blue;
  }
} */
/* Code Three */
@keyframes change-color {
  0% {
    background-color: red;
  }
  5% {
    background-color: blue;
  }
  80% {
    background-color: black;
  }
  100% {
    background-color: red;
  }
}


/*
  Animation
  - Iteration Count
  - Timing Function
  - Spinner Loading
*/

.Animation2 {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 5px solid #e91e63;
  transition: transform 0.3s;
  border-left-color: transparent;
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  /* عدد الانميشن */
  animation-timing-function: linear;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Animation3{
  width: 100px;
  height: 100px;
  background-color: #e8e3e3;
  animation-name: coloring;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-direction: reverse;
  /* اتجاه التحريك */
  animation-delay: -2s;
  /* استنا 2 ثانية قبل ما يبدا او تقديم */
  animation-fill-mode: both;
  /* ياخذ صفات العنصر من اخر وحدة  */
  animation-play-state: running;
  animation: coloring 3s linear 2s infinite reverse;
}
div:hover {
  animation-play-state: paused;
}
@keyframes coloring {
  0% {
    background-color: red;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: black;
  }
}

/*
  Loading Animation
*/


.load {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}
.load div {
  width: 20px;
  height: 20px;
  background-color: orchid;
  border-radius: 50%;
  margin: 0 5px;
  animation-name: up-and-down;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.load .two {
  animation-delay: 0.3s;
}
.load .three {
  animation-delay: 0.6s;
}
@keyframes up-and-down {
  to {
    opacity: 0.2;
    transform: translateY(-20px);
  }
}

/*
  CSS Selectors
  - *
  - Element => [p, div, h2]
  - Element OtherElement => div p
  - .class-name
  - #id-name
  - .parent .child
  - .class-one.class-two
  - .class-name div, .class-name p
  - Element.class-name => p.class-name
  - .parent > .child => Direct Child
  2---------------------------------------
  - Element + Other Element => [div + p]
  - Element ~ Other Elements => [p ~ div]
  - [Attribute]
  - Element[Attribute]
  - [Attribute=Value]
  - Element[Attribute=Value] => input[type="submit"]
  - [Attribute~=Value] => Contains A Word
  - [Attribute*=Value] => Contains A Atring
  - [Attribute^=Value] => Start With A String
  3
    CSS Selectors
  - :first-child
  - :last-child
  - :first-of-type
  - :last-of-type
  - :only-child
  4
    CSS Selectors
  - :not(Selectors)
  - :nth-child(n)
  - :nth-last-child(n)
  - :nth-of-type(n)
  - :nth-last-of-type(n)
  5
    - :root
  - :checked
  - :empty
  - :disabled
  - :required
  - :focus
  - ::selection
  - ::placeholder
*/


::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-track{
  background-color: white;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(201, 22, 22);
}
